@include breakpoint(breakpoint_size('md')) {
  .person-contentGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: rhythm(4);
  }
}

@include breakpoint(breakpoint_size('lg')) {
}

@include breakpoint(breakpoint_size('xl')) {
}
