/* ---------------------------------------------
 Horizant Rule
--------------------------------------------- */

.hr {
  display: block;
  height: 0.2rem;
  width: 100%;
}

.hr_small {
  width: rhythm(4);
}

.hr_center {
  margin: 0 auto;
}

.hr_colorFlamingo {
  background-color: rgba($colorFlamingo, 0.3);
}
