.personList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-auto-rows: min-content;
  row-gap: rhythm(4);
  column-gap: rhythm(4);
}

.personList-image {
  height: 100%;
}

@include breakpoint(550px) {
  .personList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include breakpoint(breakpoint_size('md')) {
  .personList {
    grid-template-columns: repeat(5, 1fr);
  }
}

@include breakpoint(breakpoint_size('lg')) {
}

@include breakpoint(breakpoint_size('xl')) {
}
