.personList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-auto-rows: min-content;
  row-gap: rhythm(4);
  column-gap: rhythm(4);
}

.personList-item {
  cursor: pointer;

  &:hover .personList-name {
    color: $colorDarkTeal;
  }
}

.personList-imageOuterBox {
  position: relative;
  padding-bottom: 140%;
  width: 100%;
}

.personList-imageInnerBox {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);

  &--kristen-mcatee {
    width: 130%;
  }

  &--ilya-fedorovich {
    width: 95%;
  }

  &--mariah-amato {
    width: 125%;
  }

  &--megan-smith {
    width: 140%;
  }

  &--jack-reed {
    width: 85%;
  }

  &--joe-vulpis {
    width: 92%;
  }

  &--dima-konovalov {
    width: 113%;
  }

  &--taylor-hudson {
    width: 100%;
  }

  &--marine-antonyan {
    width: 125%;
  }

  &--von-antonyan {
    width: 88%;
  }

  &--vardan-antonyan {
    width: 80%;
  }

  &--nick-antonyan {
    width: 85%;
  }

  &--zane-hijazi {
    width: 90%;
    top: -5%;
  }

  &--lorraine-nash {
    width: 93%;
  }

  &--suzy-antonyan {
    width: 100%;
  }

  &--natalie-mariduena {
    width: 115%;
  }

  &--josh-peck {
    width: 85%;
  }

  &--scotty-sire {
    width: 86%;
  }

  &--corinna-kopf {
    width: 90%;
  }

  &--toddy-smith {
    width: 85%;
  }

  &--matt-king {
    width: 95%;
  }

  &--carly-incontro {
    width: 111%;
  }

  &--jeff-wittek {
    width: 89%;
  }

  &--jason-nash {
    width: 85%;
  }

  &--erin-gilfoy {
    width: 110%;
  }

  &--heath-hussar {
    width: 153%;
    top: -8%;
  }
}

.personList-image {
  width: 100%;
}

.personList-name {
  position: relative;
  z-index: $zMain;
  border-radius: 0.4rem;
  background-color: $colorBackground;
}

@include breakpoint(550px) {
  .personList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include breakpoint(breakpoint_size('md')) {
  .personList {
    grid-template-columns: repeat(5, 1fr);
  }
}

@include breakpoint(breakpoint_size('lg')) {
}

@include breakpoint(breakpoint_size('xl')) {
}
