.episode-videoAspectRatioContainer {
  background-color: $colorDarkTeal;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.45),
    0 8px 16px -8px rgba(0, 0, 0, 0.5), 0 -6px 16px -6px rgba(0, 0, 0, 0.125);
  border-radius: 0.4rem;
  height: 0;
  overflow: hidden;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  transition: box-shadow 0.25s $easeInOutQuad;
  will-change: box-shadow;
}

.episode-video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.episode-description {
  background-color: $colorWhite;
}

@include breakpoint(breakpoint_size('md')) {
}

@include breakpoint(breakpoint_size('lg')) {
}

@include breakpoint(breakpoint_size('xl')) {
}
