/* ---------------------------------------------
 Container
 --
 A wrapping element contraining children to
 designated site widths in a viewport
--------------------------------------------- */

.container {
  margin: 0 auto;
  max-width: 144rem;
  width: 89%;
}

.container--show {
  background-color: rgba(#ff1f1f, 0.15);
}

.container--fullHeight {
  height: 100%;
}

@include breakpoint(breakpoint_size('md')) {
}

@include breakpoint(breakpoint_size('lg')) {
}

@include breakpoint(breakpoint_size('xl')) {
}
