@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Thin.otf') format('otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Book.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Ultra.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}
