.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  right: 0;
  height: 100%;
  background-color: rgba($colorWhite, 0.75);
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(1.2rem);
  transition: opacity $easeInOutQuad 0.4s;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &--active {
    opacity: 1;
    visibility: visible;
  }
}

.hamburgerMenu {
  padding-top: rhythm(11);
}

.hamburgerMenu-item + .hamburgerMenu-item {
  padding-top: rhythm(3);
}

.hamburgerMenu-link {
  display: inline-block;
  padding-bottom: rhythm(1);
}

.secondaryHamburgerMenu {
  padding-left: rhythm(2);
}

.secondaryHamburgerMenu-item {
}

.secondaryHamburgerMenu-link {
  display: inline-block;
  padding: rhythm(1) 0;
}
