html {
  background-color: #eaf5f4;
  overflow-x: hidden;
}

.header {
  background-color: $colorWhite;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  height: rhythm(8);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zHeader;
}

.navBar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.logo {
  font-family: $fontFamilyLogo;
  font-size: 2.4rem;
  font-weight: 500;

  &:hover .logo-squad {
    animation: logoAnimation 5s infinite $easeInOutQuad;
  }

  &:hover .logo-vlog {
    animation: logoAnimation 5s infinite $easeInOutQuad reverse;
  }
}

.logo-squad {
  color: $colorFlamingo;
  font-weight: 200;
}

.logo-vlog {
  color: $colorTeal;
}

@keyframes logoAnimation {
  0% {
    color: $colorTeal;
  }
  20% {
    color: $colorPastelGreen;
  }
  40% {
    color: $colorCoral;
  }
  60% {
    color: $colorBabyBlue;
  }
  80% {
    color: $colorLightKhaki;
  }
  100% {
    color: $colorFlamingo;
  }
}

.mainNav {
  align-items: center;
  display: none;
  flex-direction: row;
  justify-content: flex-start;
}

.mainNav-link {
  display: inline-block;
  padding: rhythm(3) rhythm(2.5);

  &:hover {
    color: $colorDarkestTeal;
  }
}

.mainNav-item {
  position: relative;

  &:hover .secondaryNav {
    display: block;
  }
}

.secondaryNav {
  background: $colorWhite;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.075);
  display: none;
  left: 50%;
  padding: rhythm(1) rhythm(2.5);
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  width: 20rem;
}

.secondaryNav-item {
  & + .secondaryNav-item {
    border-top: solid 0.1rem $colorGrey92;
  }
}

.secondaryNav-link {
  display: inline-block;
  padding: rhythm(1.5) rhythm(1);

  &:hover {
    color: $colorDarkestTeal;
  }
}

.hamburgerMenu {
  position: absolute;
  right: 0;
}

.hamburgerMenu-button {
  &:hover {
    .hamburgerMenu-icon {
      display: none;
    }

    .hamburgerMenu-activeIcon {
      display: inline-block;
    }
  }
}

.hamburgerMenu-activeIcon {
  display: none;
}

.hamburgerMenu-icon,
.hamburgerMenu-activeIcon {
  .primaryFill {
    fill: $colorTeal;
  }
  &:active .primaryFill {
    fill: $colorFlamingo;
  }
}

@include breakpoint(breakpoint_size('md')) {
  .navBar {
    justify-content: space-between;
  }

  .mainNav {
    display: flex;
  }

  .hamburgerMenu {
    display: none;
  }
}

@include breakpoint(breakpoint_size('lg')) {
}

@include breakpoint(breakpoint_size('xl')) {
}
