body {
  background-color: #eaf5f4;
}

.header {
  background-color: $colorWhite;
  height: rhythm(8);
  position: relative;
}

.navBar {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  font-size: 2.4rem;
  font-weight: 500;
}

.logo-davids {
  color: $colorTeal;
}

.logo-vlog {
  color: $colorFlamingo;
}

.mainNav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.mainNav-link {
  font-size: 1.6rem;
  color: $colorDarkTeal;

  &:hover {
    color: $colorDarkestTeal;
  }
}

.mainNav-item {
  padding: rhythm(3) rhythm(2.5);
  position: relative;

  &:hover .secondaryNav {
    display: block;
  }
}

.secondaryNav {
  background: $colorWhite;
  bottom: 0;
  display: none;
  left: 50%;
  padding: rhythm(1) rhythm(2.5);
  position: absolute;
  transform: translateY(100%) translateX(-50%);
  width: 20rem;
}

.secondaryNav-item {
  padding: rhythm(1.5) 0;

  & + .secondaryNav-item {
    border-top: solid 0.1rem $colorGrey92;
  }
}

.secondaryNav-link {
  font-size: 1.2rem;
  color: $colorDarkTeal;

  &:hover {
    color: $colorDarkestTeal;
  }
}
